#background {
  background-size: cover;
  background-position: top center;
}

.atmosphere {
  background-image: url(/BGimages/atmosphere.jpg);
}

.clear {
  background-image: url(/BGimages/clear.jpg);
}

.cloud {
  background-image: url(/BGimages/cloud.jpg);
}

.rain {
  background-image: url(/BGimages/rain.jpg);
}

.snow {
  background-image: url(/BGimages/snow.jpg);
}

/* .app-wrap {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  );
} */

input {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 0px 16px 0px;
  border-bottom: 3px solid white;

  color: #313131;

  transition: 0.2s ease-out;
}

input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}
